.NewTodoForm {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.NewTodoForm label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}
.NewTodoForm input {
  flex-grow: 1;
  border: none;
  margin-right: 10px;
  border-radius: 0.8rem;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
  outline: none;
}
.NewTodoForm button {
  padding: 0 1.3rem;
  border: none;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
  /* color: white; */
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
}
.NewTodoForm button:hover {
  background: rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
.NewTodoForm button:active {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(3px);
}

.NewTodoForm input,
.NewTodoForm button {
  font-family: "Quicksand", sans-serif;
  height: 3rem;
  text-align: center;
}
